<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CodeAssist</title>
  <style>
    p {
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
    }
  </style>
</head>
<body style="background-color:#1a202c">
  <header class="text-gray-500 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-teal-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">CodeAssist</span>
      </a>
      <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      </nav>
      <a href="/articles/new" class="btn btn-success">New Article</a>
    </div>
  </header>

  <section class="text-gray-500 bg-gray-900 body-font">
    <div class="container px-5 mx-auto">
      <div class="flex flex-wrap">    
        <% articles.forEach(article => { %>
          <div class="container p-3 my-3 bg-dark text-white">
            <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
                <span class="text-gray-600 pb-2 mb-2 border-b-2 border-gray-800">Date</span>
                <span class="font-medium text-xs text-gray-300 title-font"><%= article.createdAt.toLocaleDateString() %></span>
            </div>
            <div class="flex-grow pl-6">
                <h2 class="tracking-widest text-xs title-font font-medium text-teal-500 mb-1">CATEGORY</h2>
                <h1 class="title-font text-xl font-medium text-white mb-3"><%= article.title %></h1>
                <p class="leading-relaxed mb-5"><%= article.description %></p>
                <a class="inline-flex items-center">
                  <img alt="blog" src="https://dummyimage.com/103x103" class="w-8 h-8 rounded-full flex-shrink-0 object-cover object-center">
                  <span class="flex-grow flex flex-col pl-3">
                    <span class="title-font font-medium text-white">Alper Kamu</span>
                  </span>
                </a>
                <br><br>
                <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
                <a href="articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
                <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form> 
                <br><br><br><br>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </section> 
  
  <footer class="text-gray-500 bg-gray-900 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-teal-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">CodeAssist</span>
      </a>
      <p class="text-sm text-gray-600 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">Made By —
        <a class="text-gray-500 ml-1" target="_blank" rel="noopener noreferrer">Shivansh Chadha</a>
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <a href="https://www.facebook.com/shivanshchadha187" class="text-gray-600">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
        <a href="https://www.instagram.com/shivansh__chadha/" class="ml-3 text-gray-600">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
          </svg>
        </a>
        <a href="https://www.linkedin.com/in/shivansh-chadha-3657bb108/" class="ml-3 text-gray-600">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
            <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </footer>
  
</body>
</html>